# Virtual Environment
brokkr_env/
venv/

# Secrets
keys.txt

# Python Cache
__pycache__/
*.pyc

# Generated Datasets (Large files)
processed_data/
processed_data_baseline/
processed_data_trace/
processed_data_meta/


# Model Checkpoints & Outputs (Do not commit these!)
#student_txgemma_*/
#student_txgemma_baseline/checkpoint-*/
#*.safetensors
#*.pt
#*.pth
#*.bin
#*.model
